.main{
    display: flex;
}

.left{
    width: 50%;
    height: 85vh;
}

.left .intro{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-top: 17%;
}

.left .intro h5{
   margin-bottom: 5%;
   color: #E27627;
}

.left .intro .H1{
    display: flex;
}

.left .intro h1{
    margin-bottom: 3%;
    width: 15vw;
    font-size: 50px;
    color: #E27627;
 }

 .left .intro>h1{
    margin-left: 7vw;
    margin-bottom: 5vh;
 }

 .left .intro h3{
    margin-bottom: 3%;
    padding-bottom: 2%;
    font-size: 50px;
    margin-right: 2%;
    color: white;
 }

 .left .intro h2{
    margin-bottom: 10%;
    color: white;
 }

.left .important_buttons{
  display: flex;
  margin-left: 17%;
  padding-bottom: 5%;
}

.left .important_buttons  button{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 400;
    font-size: larger;
    transition: 0.5s;
}



.left .important_buttons .leftbutton{
   width: 12vw;
   height: 7vh;
   background-color: #E27627;
   margin-right: 2%;
   border-radius: 17px;
   border: 5px solid white;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.5s;
}

.left .important_buttons .leftbutton:hover{
    transform: scale(1.2);
    background-color: white;
    border: 5px solid #E27627;
 }

 .left .important_buttons .leftbutton:hover    button{
        color: #E27627;
 }


.left .important_buttons .rightbutton{
    width: 12vw;
   height: 7vh;
   background-color: #E27627;
   margin-left: 2%;
   border-radius: 17px;
   border: 5px solid white;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.5s;
}

.left .important_buttons .rightbutton:hover{
    transform: scale(1.2);
    background-color: white;
    border: 5px solid #E27627;
 }

 .left .important_buttons .rightbutton:hover    button{
    color: #E27627;
}

.main>.right>img{
    margin-top: 10%;
    width: 75%;
    height: 70%;
    border: solid #E27627 20px;
    border-radius: 50%;margin-right: 35%;
}

.main .right{
    display: flex;
    justify-content: center;
}

 .links{
   display: flex;
   height: 40vh;
   background-color: #E27627;
   border-radius: 20px 0px 0px 20px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 0%;
   top: 30%;
   padding-left: 1%;
   padding-right: 1%;
}

.links li{
    list-style: none;
}

.links img{
    margin-top: 20%;
    width: 40px;
}
